.env

# Ignore virtual environments
121env/
.env/
.envrc
*.venv
Pipfile
Pipfile.lock

# Ignore compiled Python files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs
*.log